// Colors

$dutch-white: #ddd8b8;
$cambridge-blue: #B3CBB9;
$pewter-blue: #84A9C0;
$hunter-green: #4B644A;
$rich-black: #0F0F0F;
$terra-cotta: #ED6A5A;

$background: $dutch-white;
$foreground: $rich-black;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$title-font: 'EB Garamond', serif;
$body-font: 'Montserrat', sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    background: $background;
    color: $foreground;
    font-family: $body-font;
    word-wrap: break-word;
}

a, a:visited {
    text-decoration: none;
    color: $foreground;
    background: linear-gradient(transparent 0%, transparent 75%, $terra-cotta 75%);

    &:hover {
       background: linear-gradient(transparent 0%, transparent 50%, $terra-cotta 50%);
    }
}

body > header {
    font-family: $title-font;

    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;

    ul {
        list-style: none;
        display: flex;
        font-size: 1.5em;

        li {
            padding-left: 1rem;
        }
    }
}

.presentation {
    font-size: 2rem;
    font-weight: bolder;
    max-width: 25ch;
    padding: 1em;
    margin: 30vh auto;
    background: $background;
}

#vercors {
    background-image: url('/vercors.jpg');
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

body > main {
    max-width: 80vw;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: $title-font;
}

body > h1, body > main > h1 {
    margin: 1em auto;
    font-size: 4rem;
}

.recipes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin: 10vh 20vw;

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: white;
        box-shadow: 0px 0px 50px transparentize($rich-black, 0.9);

        .photo {
            min-height: 30vh;
            background-position: center;
            background-size: cover;
        }

        h1 {
            text-align: left;
            padding: 2rem;
        }

        main {
            padding: 0 2rem 2rem;
            display: flex;
            align-items: center;
            & > * {
                padding-right: 1em;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 2em;
    }

    body > header {
        text-align: center;
        & > * {
            flex: 1;
        }
        ul {
            flex-direction: column;
            li {
                padding-left: 0;
            }
        }    
    }

    .presentation {
        margin: 5vh auto;
    }
}
