{% extends "base.html" %}

{% block title %}
Toutes les recettes
{% endblock title %}

{% block content %}
<h1>Toutes les recettes</h1>

<ul class="recipes">
{% for recette in paginator.pages %}
<li>
    <aside class="photo" style="background-image: url('{{ recette.extra.photo }}')">
    </aside>
    <h1>
        <a href="{{ recette.permalink }}">{{ recette.title }}</a>
    </h1>
    <main>
        <i data-feather="clock"></i>
        <span>{{ recette.extra.temps }} minutes</span>
        <span>&mdash;</span>
        <i data-feather="users"></i>
        <span>{{ recette.extra.portions }} personnes</span>
    </main>
</li>
{% endfor %}
</ul>
{% endblock content %}
