{% extends "base.html" %}

{% block title %}
Toutes les recettes
{% endblock title %}

{% block content %}
<h1>Toutes les recettes</h1>

<ul class="recipes">
{% for recette in paginator.pages %}
<li>
    <aside class="photo" style="background-image: url('{{ recette.extra.photo }}')"></aside>
    <main>
        <h1>{{ recette.title }}</h1>
        <p>
            <i data-feather="clock"></i>
            <span>{{ recette.extra.temps }} minutes</span>
            <span>&mdash;</span>
            <i data-feather="users"></i>
            <span>{{ recette.extra.portions }} personnes</span>
        </p>
        <a href="{{ recette.permalink }}">Lire cette recette</a>
    </main>
</li>
{% endfor %}
</ul>
{% endblock content %}
