{% extends "base.html" %}

{% block title %}
{{ page.title }}
{% endblock title %}

{% block content %}
<article class="recipe">
    <header>
    <aside class="photo" style="background-image: url('{{ page.extra.photo }}')"></aside>
        <h1>{{ page.title }}</h1>
        <div class="recipe-info">
            <i data-feather="clock"></i>
            <span>{{ page.extra.temps }}</span>
            <span>&mdash;</span>
            <i data-feather="users"></i>
            <span>{{ page.extra.portions }}</span>
        </div>
    </header>
    <main>
        {{ page.content | safe }}
    </main>
</article>
{% endblock content %}
